

   <div class="flex items-center justify-between">

     
    <p class="text-sm text-neutral-500 dark:text-neutral-400">
      &copy;
      2025
      LawrenceG.xyz
       ______John 1:1: 
      In the beginning was the Word, and the Word was with God, and the Word was God."_

    </p>
    
   
    
    <p class="text-xs text-neutral-500 dark:text-neutral-400">
      
      
      This site was built with <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"

        href="https:/https://go.dev/" target="_blank" rel="noopener noreferrer">Go</a> &amp; <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"
        
        href="https://www.lawrenceg.xyz" target="_blank" rel="noopener noreferrer">LawrenceG</a>
    </p>
    
  </div>


